.loading{
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translateY(8rem);
    
}
.fontText{
    font-size: 18px;
    text-align: justify;
}
.ContenctBox{
    background: #fff;
    padding: 20px;
    transform: translateY(4rem);
}