.loading{
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translateY(8rem);
    
}
.fontText{
    font-size: 18px;
    text-align: justify;
}
.Shadow{
    box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
}
.ContenctBox{
    background: #fff;
    padding: 20px;
    transform: translateY(4rem);
}
.MiddleBox{
    min-height: calc(100vh - 100px - 24px) !important;
}